.adminPage {
    padding: 20px 550px;
    margin: 0px auto;
    
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
  }
  
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  