.header {
    background-color: #4caf50;
    padding: 10px 20px;
  }
  
  .nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin: 0 10px;
    font: weight 500px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  