.orderForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.orderForm label {
  margin-bottom: 10px;
}

.orderForm input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.orderForm button {
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.orderForm button:hover {
  background-color: #45a049;
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: -239px;
}

.successMessage h2 {
  margin: 20px;
}

.successMessage button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.successMessage button:hover {
  background-color: #45a049;
}
