.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.productImage {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
  max-height: 300px; /* Ensure the height is also constrained */
}

.productInfo {
  text-align: center;
}

.productInfo h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.productInfo p {
  margin: 10px 0;
}

.productInfo button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.productInfo button:hover {
  background-color: #45a049;
}

.successMessage {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
}

.successMessage.visible {
  opacity: 1; /* Visible */
  visibility: visible; /* Visible */
}



.addedToCartMessage {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

